.HeroSelectOverlayRoot {
    width: 100%;
    height: 100%;
    background-color: #0d0000;
    flow-children: right;
}

#HeroesRadiant {
    width: 40%;
    height: 100%;
    margin-top: 40px;
    background-color: #400000;
}

#Spacer {
    width: 20%;
}

#HeroesDire {
    width: 40%;
    height: 100%;
    margin-top: 40px;
    background-color: #192340;
}

.HeroPreview {
    width: 100%;
    height: 200px;
    /*flow-children: right;*/
}

/* needed aspect : 2x1 */

.HeroPreview > #HeroImage {
    width: 100%;
    height: 100%;
    transition: transform 100ms linear 0.0ms, saturation 100ms linear 0.0ms;
    saturation: 0.6;
}

.HeroPreview > #HeroImage:Hover {

    saturation: 1;
    transform: scale3d(1.1, 1.1, 1.1);
}

.HeroPreview > #HeroName {
    z-index: 100;
    position: 5% 75% 0px;
    font-size: 40px;
    color: white;

}