#Heroes{
    background-color: black;
    width: 100%;
    height: 1036px;
    margin-top: 44px;
}

.ClassOption{
    width: 100px;
    height: 100px;
    background-color: red;
    color: blue;
}

#EnterGameBtnTxt{
    width: 100px;
    height: 100px;
    background-color: red;
    color: blue;
}
